# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Environment/secrets
.env
.env.*

# Logs
*.log